.filter-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 0;
}

.material-icons,
.icon-filter {
    color: var(--text-brand-color);
}

.filter-item {
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #3d3d3d;
  color: var(--text-brand-color);
  align-items: center;
  transition: color 0.2s, background-color 0.2s;
  padding: 8px 12px;
  gap: 8px;
  font-weight: bold;
  border-radius: 20px;
  margin: 0 auto;
  &:hover, &.active {
      background-color: var(--text-brand-color);
      color: #3d3d3d;
      & > .material-icons,
      & > .icon-filter {
          color: #3d3d3d !important;
      }
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.active::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background-color: currentColor;
      opacity: 0.6;
      animation: ping 1s linear infinite;
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 576px) {
  .filter-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .filter-item {
    margin: auto !important;
  }
}