.background {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 1;
    position: relative;
    background-color: var(--brand-color);
    margin-bottom: 10%;

}

.bg-image img{
    width: 100%;
    aspect-ratio: 4 / 1;
    object-fit: cover;
}

.save {
  color: var(--main-text) !important;
}

.profile-info {
  position: relative;
  &>.fs-4 {
    color: var(--brand-color);
  }
}

.profile-data {
  position: absolute;
  transform: translateY(-30%);
  padding: 0 5%;
}

.profile-pic {
    height: 192px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    outline: 8px #121212 solid;
}


.btn-base {
  border-radius: 5px !important;
  gap: 8px;
  &:hover {
    color: var(--main-text);
  }
  
}

.info-container {
    background-color: rgba($color: #fff, $alpha: .03);
    // border: solid 2px var(--brand-color);
    border-radius: 5px;
    padding: 16px;
    row-gap: 24px;
    max-width: 100%;
    margin: 0;
    &:hover {
        cursor: pointer;
    }
}

.container-fluid {
    padding: 3.5% 5%;
}

.info-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--main-text);
    display: flex;
    align-items: center;
    gap: 8px;
}

.conteudo {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.conteudo.aberto {
    margin-top: 24px;
    visibility: visible;
    height: fit-content;
    opacity: 1;
}

.profile-content {
    min-height: var(--body-area);
}

.btn-base {
    height: 36px;
    aspect-ratio: 1 / 1;
    border-radius: 0 5px 5px 0;
    &:hover {
    cursor: default;
  }
}

.textInputWrapper {
    p {
        position: absolute;
        bottom: 6px;
        margin: 0;
        left: 12px;
        color: var(--brand-color);
    }

    #username {
        padding-left: 28px;
    }
}

/* From Uiverse.io by WhiteNervosa */ 
.textInputWrapper {
  position: relative;
  width: 100%;
  --accent-color: var(--main-text);
}

.textInputWrapper:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:before,
.textInputWrapper:after {
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
  bottom: -1px;
  z-index: 4;
  width: 100%;
}

.textInputWrapper:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
}

.textInputWrapper:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
  transform: scaleX(1);
}

.textInputWrapper:focus-within:after {
  border-bottom: 2px solid var(--accent-color);
  transform: scaleX(1);
}

.textInputWrapper:after {
  content: "";
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  will-change: transform;
  border-bottom: 2px solid var(--accent-color);
  border-bottom-color: var(--accent-color);
}

.textInput::placeholder {
  transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  opacity: 1;
  user-select: none;
  color: rgba(255, 255, 255, 0.582);
}

.textInputWrapper .textInput {
  border-radius: 5px 0 0px 0px;
  box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
  max-height: 36px;
  background-color: #252525;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: background-color;
  color: #e8e8e8;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
  outline: none;
}

.textInputWrapper:focus-within .textInput,
.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
  background-color: #353535;
}

.textInputWrapper:focus-within .textInput::placeholder {
  opacity: 0;
}

@media (max-width: 1400px) {
    .container-fluid {
      padding: 5%;
      padding-top: 6%;
    }
}

@media (max-width: 1200px) {
    .container-fluid {
      padding-top: 8%;
    }
}

@media (max-width: 992px) {
    .container-fluid {
      padding-top: 9%;
    }
    .profile-data {
      transform: translateY(-40%);
    }
}

@media (max-width: 768px) {
  .background {
    margin-bottom: 0;
  }

  .profile-data {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  }

  .profile-pic {
    outline: none;
  }

  .bg-image {
    aspect-ratio: 1 / 1 !important;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .profile-info > .fs-4 {
    color: var(--dark-gray);
  }

  .container-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 8px;
  }
  
  .container-fluid  {
    padding: 24px;
  }

}

@media (max-width: 576px) {
  .profile-data {
    width: 80%;
  }

  .container-fluid {
    padding: 24px 16px;
  }
}

@media (max-width: 375px) {
  .container-fluid {
    padding: 24px 8px;
  }

  .profile-data {
    padding: 8px;
  }

  .profile-pic {
    height: 176px;
  }
}