.checkout-steps {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 8px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 24px 30%;

    hr {
        max-width: 100%;
        min-width: 100%;
        background-color: var(--dark-gray);
        border-radius: 5px;
        height: 4px;
    }

    .material-icons.step {
        scale: 1.666;
        width: auto;
        aspect-ratio: 1 / 1;
        color: var(--brand-color) !important;
        transition: all .4s ease;
    }

    .material-icons {
        color: var(--light-gray) !important;
    }

}

.checkout-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.has-item {
    justify-content: flex-start !important;
}

.checkout-data {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center !important;
    color: var(--light-gray);

    .btn-roxo {
        padding: 8px 32px;
        .material-icons {
            color: white !important;
        }
    }

    .checkout-svg {
        height: auto;
        width: 420px;
    }
}

.checkout-form {
    display: flex;
    background-color: transparent;
    border: var(--brand-color) 2px solid;
    border-radius: 4px;
    flex-direction: column;
    width: 40%;
    padding: 24px;
    margin: auto 0;
    h2 {
        color: var(--brand-color);
    }
}

.checkout-input-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px 0;
}

.duo-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.duo-input.address{
  display: grid;
  grid-template-columns: 1.5fr .5fr;
  width: 100%;
  gap: 24px;
}

.textInputWrapper {
    p {
        position: absolute;
        bottom: 6px;
        margin: 0;
        left: 12px;
        color: var(--brand-color);
    }
}

.checkout-btn {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 50%;
    gap: 16px;
    .btn-base {
        padding: 8px 32px;
        max-width: 100%;
        max-height: 44px;
        width: 100%;
    }
}

.lastStep {
    width: 80% !important;
    align-items: center;
    .submit {
        margin: 0;
    }
}

.submit {
    width: 100%;
}

.badge {
  background-color: var(--hover-color);
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 12px;
  white-space: nowrap;
  transition: all .3s ease;
}


.frete-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.frete-option {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--light-gray);
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s ease;
  strong, span {
    margin-right: 8px;
  }
  &:hover {
    transform: translateX(+4px);
  }
}

.frete-option input {
  display: none;
}

.frete-option img {
  width: 40px;
  border-radius: 4px;
  background-color: white;
}

.frete-option .price {
  margin-left: auto;
  font-weight: bold;
}

.frete-option:has(input:checked) {
    background-color: var(--brand-color);
    .badge {
        background-color: white;
        color: var(--brand-color);
    }
}


.input-error {
  border-color: var(--red-hover);
  background-color: var(--red-base) !important;
}

/* From Uiverse.io by WhiteNervosa */ 
.textInputWrapper {
  position: relative;
  width: 100%;
  --accent-color: var(--main-text);
}

.textInputWrapper:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:before,
.textInputWrapper:after {
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
  bottom: -1px;
  z-index: 4;
  width: 100%;
}

.textInputWrapper:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
}

.textInputWrapper:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
  transform: scaleX(1);
}

.textInputWrapper:focus-within:after {
  border-bottom: 2px solid var(--accent-color);
  transform: scaleX(1);
}

.textInputWrapper:after {
  content: "";
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  will-change: transform;
  border-bottom: 2px solid var(--accent-color);
  border-bottom-color: var(--accent-color);
}

.textInput::placeholder {
  transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  opacity: 1;
  user-select: none;
  color: rgba(255, 255, 255, 0.582);
}

.textInputWrapper .textInput {
  border-radius: 5px ;
  box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
  max-height: 36px;
  background-color: #252525;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: background-color;
  color: #e8e8e8;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
  outline: none;
}

.textInputWrapper:focus-within .textInput,
.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
  background-color: #353535;
}

.textInputWrapper:focus-within .textInput::placeholder {
  opacity: 0;
}