<footer class="w-full bg-dark">
    <div class="d-flex flex-row p-3 justify-content-between">
        <div class="d-flex">
            <div>teste</div>
            <div>teste</div>
            <div>teste</div>
            <div>teste</div>
        </div>
        <div class="d-flex">
            <div>teste</div>
            <div>teste</div>
            <div>teste</div>
            <div>teste</div>
        </div>
        <div class="d-flex flex-column">
            <div class="d-flex gap-2 flex-row align-items-center justify-content-center">
                <img class="icon" src="assets/icons/geral/eliasasa.svg" style="--icon-size: 48px" alt="Logo">
                <span class="logo-text">FakeStore</span>
                
            </div>
            <p class="fs-6 m-0 text-end">by 
                <a class="footer-link text-decoration-none" href="https://github.com/eliasasa" target="_blank">
                    eliasasa
                </a>
            </p>
        </div>
    </div>
</footer>