.footer-link {
    color: var(--brand-color);
}

// redes 

/* From Uiverse.io by Pradeepsaranbishnoi */ 
.social-links,.flex-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.mobile-info {
  width: 50%;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
  display: none;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 80px;
  display: inline;
}


#discord svg {
  fill: #7289DA;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}

@media (max-width: 768px) {
  .footer-mobile > div{
    display: flex;
    flex-direction: column !important;
    width: 100%;
    align-items: flex-start !important;
    gap: 24px;  
    .mobile-info {
      align-items: center !important;
      margin: 16px 0;
    }
  }
  .social-links {
    justify-content: center;
    width: 100%;
  }

  
}
