@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.navbar {
  padding-left: 24px;
  padding-right: 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: start;
  column-gap: 24px;
  align-items: center;
  max-width: none;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-direction: row;

}

.nav-link {
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-cart {
  position: relative;
}

.cart-counter {
  position: absolute;
  top: -4px;
  right: -10px;
  background-color: var(--text-brand-color);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 20px;
  padding: 2px;
  justify-content: center;
  span {
    font-size: 12px;
  }
}

.navbar .nav-link {
  cursor: pointer;
  font-weight: 600;
  &:hover > :not(.cart-counter) {
    color: var(--text-brand-color);
    
  }
}

.navbar .nav-link > * {
  transition: all 0.2s;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  &:hover {
    .underline {
      width: 100%;    
      border-color: var(--text-brand-color);
      transition: width 0.2s, border-color 0.2s;
    }
  }
}

.logo-text {
  &:hover {
    color: var(--text-brand-color);
    transition: color 0.2s;
  }
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all .3s ease;
  &:hover, &:hover.material-icons {
      cursor: pointer;
      transform: scale(1.1);
    }
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}

.profile-pic-nav {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.navbar-left, .navbar-right {
  display: flex; 
  align-items: center; 
  gap: 16px; 
  flex: 1;
}


.navbar-right {
  max-width: fit-content !important;
  gap: 16px;
  justify-content: flex-end;
}

.nav-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-2px);
    color: var(--text-brand-color) !important;
  }
} 

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 24px;
  }

  .navbar {
    height: 165px;
  }

  .navbar-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-left, .navbar-right {
    width: 100% !important;
    max-width: none !important;
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 8px;
  }
}

@media (max-width: 454px) {

  .navbar {
    height: 165px;
  }
}