<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-left" style="display: flex; align-items: center; gap: 16px; flex: 1;">
      <a class="navbar-brand" routerLink="/">
        <div class="logo-container">
          <img class="icon" src="assets/icons/logo.svg" style="--icon-size: 24px" alt="Logo">
          <span class="logo-text">FakeStore</span>
        </div>
        <hr class="underline" style="--heigth: 1px; --radius: 1px">
      </a>
      <app-search></app-search>
    </div>
    <div class="navbar-right" style="display: flex; align-items: center; gap: 16px;">
      @if (!isLoggedIn) {
        <a class="nav-link text-white" routerLink="/login">
            <img src="assets/icons/navbar/login-icon.svg" class="icon" style="--icon-size: 24px" alt="">
          Logar
        </a>
      } @else {
        <a class="nav-link text-white nav-profile" routerLink="/perfil">
            <img src="https://i.pravatar.cc/600" class="profile-pic-nav" style="--icon-size: 24px" alt="">
          {{ username }}
        </a>
      }
      <div class="navbar-menu">
        <span class="material-icons" (click)="toggleSidebarNavbar()">
          menu
        </span>
      </div>
    </div>
  </div>
  <app-sidebar></app-sidebar>
</nav>
