@use "bootstrap/scss/bootstrap";


.main_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #121212;
    color: #ffff;
}

.categorias-container {
    display: flex;
    gap: 24px;
    width: 100%;
    padding: 24px;
    background-color:#222222;
    flex-direction: column;
    min-height: calc(100vh - 55px );
}

.row {
    width: 100%;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    row-gap: 64px;
}

.product-container {
    height: fit-content;
    width: 100%;
}


.error-state button {
  margin-top: 15px;
  padding: 8px 20px;
  background-color: #BB86FC;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.home-load {
    display: flex;
    align-items: center;
    justify-content: center;
}


