.main_body {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    min-height: 100vh;
    background-color: #121212;
    color: #ffff;
}

.categorias-container {
    display: flex;
    gap: 24px;
    width: 100%;
    padding: 24px;
    background-color:#222222;
    flex-direction: column;
    min-height: calc(100vh - 55px );
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    justify-items: center;
    row-gap: 64px;
}

.product-container {
    height: fit-content;
    width: 100%;
}


.error-state button {
  margin-top: 15px;
  padding: 8px 20px;
  background-color: #BB86FC;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.home-load {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1400px) {
    .card-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .container  {
        max-width: none;
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 576px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .categorias-container {
    padding: 8px ;
  }
}

@media (max-width: 375px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}