<div class="min-h flex-column m-0 p-0 d-flex w-100 align-items-center justify-content-center">
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <form class="form">
        <div class="w-100 text-center m-3">
            <img class="icon" src="assets/icons/logo.svg" style="--icon-size: 80px" alt="Logo">
            <p class="m-0 fw-bold fs-1">FakeStore</p>
            <p class="">LOGIN</p>
        </div>
        
        <div class="group">
            <input required="true" class="main-input" type="text">
            <span class="highlight-span"></span>
            <label class="lebal-email">E-mail</label>
        </div>
        <div class="container-1">
            <div class="group">
            <input required="true" class="main-input" type="text">
            <span class="highlight-span"></span>
            <label class="lebal-email">Senha</label>
            </div>
        </div>
        <button class="submit">
            <span class="material-icons">
                login
            </span>
            ENTRAR
        </button>
        <p class="fs-6 mt-4">Não tem uma conta?
            <a routerLink="/cadastro" class="text-decoration-none">CADASTRE-SE</a>
        </p>
    </form>
</div>






