.card-area {
  position: relative;
  width: fit-content;
}

.main-card {
    max-width: 192px;
    width: 192px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: #444246;
    height: 240px;
    max-height: 240px;
    border-radius: 10px;
    &:hover {
      .buy-button {
        transform: translateY(0);
        visibility: visible;
      }
    }
}

.img-product {
    position: relative;
    overflow: visible;
    max-height: 192px;
    width: 100%;
    min-height: 192px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    transition: all .3s ease;
    padding: 8px;

    &:hover {
      cursor: pointer;
    }
    
    .button-row {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 8px;
        right: 8px;
        gap: 8px;
        width: fit-content;
    }
    .product-image {        
        object-fit: contain;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
        // border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
}


// .btn-add {
//     background-color:white;
//     border-radius: 50%;
//     aspect-ratio: 1 / 1;
//     border: none;
//     width: 26px;
//     height: 26px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     transition: background-color .2s;

//     .material-icons {
//         display: flex !important;
//         justify-content: center;
//         align-items: center;
//         font-size: 20px !important;
//         aspect-ratio: 1 / 1 !important;
//         transition: transform .2s;
//     }
//     &:hover {
//         background-color: #944fe4;
//         .material-icons {
//             transform: rotate(90deg);
//             color: white !important;
//         }
//     }
// }

input.like-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.title-price {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 104px) 1fr;
    padding: 0 8px;
    align-items: center;
    height: 100%;

}

.title-product {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buy-button {
    width: 100%;
    background-color: var(--text-brand-color);
    border: none;
    height: 48px;
    display: flex;
    color: white;
    transition: all .3s ease;
    text-transform: uppercase;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    transform: translateY(+50px);
    .material-icons {
        color: white !important;
    }
    &:hover {
        background-color: #944fe4;
    }
}

.price-product {
    font-size: x-large;
    color: white;
    b {
        color: var(--text-brand-color);
        font-weight: 500;
    }
}


// btn like 

.heart-container {
  --heart-color: #BB86FC;
  position: absolute;
  width: 26px;
  height: 26px;
  transition: .3s;
  top: 8px;
  right: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 10;
  &:hover {
    background-color: var(--brand-color);
    & > .svg-container {
        color: white;
    }
  }
}

.heart-container .checkbox {
  position: absolute;
  width: 16px;
  height: 16px;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--brand-color);
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.2);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1);
    opacity: 0;
    display: none;
  }
}

@media (max-width: 576px) {
  .main-card {
    width: 160px;
    height: 200px;
  }

  .img-product {
    min-height: 0 !important;
    height: 100% !important;
  }

  .title-price {
    height: 44px;
  }

  .price-product {
    font-size: medium;
  }

}