.product-list {
    position: relative;
    max-width: 100%;
}

.product-row {
    overflow-x: hidden;
    display: flex;
    flex-wrap: inherit !important;
    gap: 1rem;
    scroll-behavior: smooth;
}

.product-list {
  position: relative;

  &:hover .button-row button {
    opacity: 1;
  }

  h4 {
    font-weight: 400;
    color: var(--light-gray);
  }
}


.button-row {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    justify-content: space-between;
    pointer-events: none;
    display: flex;
    z-index: 10;
    height: 100%;
    align-items: center;
    padding: 0 8px;

    button {
        opacity: 0;
        pointer-events: all !important;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all .3s ease;    
    }
}


@media (max-width: 1400px) {
    .card-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .container  {
        max-width: none;
        width: 100%;
        margin: 0;
    }

    .product-row {
        padding: 0 4px;
    }
}