<div class="min-h flex-column m-0 p-0 d-flex w-100 align-items-center justify-content-center form-bg">
    <canvas #particleCanvas></canvas>
    <form class="form" [formGroup]="formCadUser" (ngSubmit)="onSubmit()">
        <div class="w-100 text-center m-3">
            <img class="icon" src="assets/icons/logo.svg" style="--icon-size: 80px" alt="Logo">
            <p class="m-0 fw-bold fs-1">FakeStore</p>
            <p class="">{{ stepTitles[currentStep] }}</p>
        </div>
        
        <!-- Passo 1: Informações de Login -->
        @if (currentStep === 0) {
            <div class="div-step" formGroupName="step1">
                <div class="group">
                    <input required="true" class="main-input" type="email" formControlName="email"
                    [class.input-error]="
                        formCadUser.get('step1.email')?.invalid &&
                        formCadUser.get('step1.email')?.touched
                    ">
                    <span class="highlight-span"></span>
                    <label class="lebal-email">E-mail</label>
                </div>
                <div class="group">
                    <input required="true" class="main-input" type="text" formControlName="username"
                    [class.input-error]="
                        formCadUser.get('step1.username')?.invalid &&
                        formCadUser.get('step1.username')?.touched
                    ">
                    <span class="highlight-span"></span>
                    <label class="lebal-email">Username</label>
                </div>
                <div class="group">
                    <input required="true" class="main-input" type="text" formControlName="password"
                    [class.input-error]="
                        formCadUser.get('step1.password')?.invalid &&
                        formCadUser.get('step1.password')?.touched
                    ">
                    <span class="highlight-span"></span>
                    <label class="lebal-email">Senha</label>
                </div>
            </div>
        }

        <!-- Passo 2: Informações Pessoais -->
        @if (currentStep === 1) {
        <div class="div-step" formGroupName="step2">
            <div class="group">
                <input required="true" class="main-input" type="text" formControlName="firstName"
                [class.input-error]="
                    formCadUser.get('step2.firstName')?.invalid &&
                    formCadUser.get('step2.firstName')?.touched
                    ">
                <span class="highlight-span"></span>
                <label class="lebal-email">Primeiro nome</label>
            </div>
            <div class="group">
                <input required="true" class="main-input" type="text" formControlName="lastName"
                [class.input-error]="
                    formCadUser.get('step2.lastName')?.invalid &&
                    formCadUser.get('step2.lastName')?.touched
                ">
                <span class="highlight-span"></span>
                <label class="lebal-email">Sobrenome</label>
            </div>
            <div class="group">
                <input required="true" class="main-input" type="text" formControlName="phone" mask="(00) 00000-0000"
                [class.input-error]="
                    formCadUser.get('step2.phone')?.invalid &&
                    formCadUser.get('step2.phone')?.touched
                ">
                <span class="highlight-span"></span>
                <label class="lebal-email">Telefone</label>
                
            </div>
        </div>
        }

        <!-- Botões de navegação -->
        <div class="d-flex justify-content-between mt-4 w-100 gap-4 submit-btn">
            @if (currentStep > 0) {
            <button type="button" class="btn btn-secondary" (click)="prevStep()">
                Voltar
            </button>
            } @else {
            }
            
            @if (currentStep < 1) {
            <button type="button" class="btn btn-primary" (click)="nextStep()">
                PRÓXIMO
            </button>
            } @else {
            <button class="submit" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M4 11v2h12v2h2v-2h2v-2h-2V9h-2v2zm10-4h2v2h-2zm0 0h-2V5h2zm0 10h2v-2h-2zm0 0h-2v2h2z"/>
                </svg>
                <span>CADASTRAR</span>
            </button>
            }
        </div>

        <p class="fs-6 mt-4">Já tem uma conta?
            <a routerLink="/login" class="text-decoration-none">ENTRAR</a>
        </p>
    </form>
</div>