<div class="banner">
    <div class="banner-content">
        <a  
            [routerLink]="['/categorias']"
            [queryParams]="{ cat: currentCategory }"
            class="banner-link"
        >
            <img [src]="currentSrc" alt="Banner Image" class="banner-image" [class.fade-out]="isFading" [class.fade-in]="!isFading">
        </a>
    </div>
    <div class="indicators">
        @for (img of bannerBasePaths; let i = $index; track i) {
            <span 
                class="indicator" 
                [class.active]="i === currentIndex"
                (click)="goToImage(i)">
            </span>
        }
    </div>
</div>
