.banner-link {
    width: 100%;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.banner {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}