<div class="search-container">
    <input type="text" id="search-product-input" class="search-input" [placeholder]="placeHolderText" aria-label="Search" (input)="getProductOnInput($event)" (blur)="clearList()">
    <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#BB86FC" d="M22 20v-1h-1v-1h-1v-1h-1v-1h-2v-1h1v-2h1V7h-1V5h-1V4h-1V3h-1V2h-2V1H7v1H5v1H4v1H3v1H2v2H1v6h1v2h1v1h1v1h1v1h2v1h6v-1h2v-1h1v2h1v1h1v1h1v1h1v1h2v-1h1v-2zm-10-5v1H8v-1H6v-1H5v-2H4V8h1V6h1V5h2V4h4v1h2v1h1v2h1v4h-1v2h-1v1z"/></svg>

    @if (searchProducts.length > 0) {
        <div class="search-content">
            @if (encontrado) {
                @for (p of searchProducts.slice(0, 5); track p.id) {
                    <div class="product-info" (click)="viewProductSearch(p.id)">
                        <div class="product-data">
                            <div class="image-div">
                                <img class="search-product" src="{{p.image}}" alt="">
                            </div>
                            {{p.title}}
                        </div>
                        <div class="product-price">
                            R$ {{p.price}} 
                        </div>                       
                    </div>
                }
            }
        </div>
    } 

    @else if (load) {
        <app-load class="search-load" [message]="{message: 'Procurando...'}"></app-load>
    }

    @else if (!encontrado && searchProducts.length == 0) {
        <div class="search-load">
            <div class="search-not-found">
                <span class="material-icons">
                heart_broken
            </span>
            Produto não encontrado :(
            </div>
        </div>
    }
    
</div>