@use "bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

:root {
  --main-bg: #121212;
  --main-text: #fff;
  --text-brand-color: #BB86FC;
  --brand-color: #BB86FC;
  --hover-color: #944fe4;
  --body-area: calc(100vh - 55px);
  --dark-gray: rgb(36, 36, 36);
  --light-gray: rgb(107, 107, 107);
  --red-base: rgb(255, 95, 95);
  --red-hover: rgb(255, 0, 0);
}

// --rgb-brand-color: rgb(187, 134, 252);
// --rgb-hover-color: rgb(148, 79, 228);

.brand-color {
  color: var(--brand-color);
}

body {
  background: var(--main-bg);
  color: var(--main-text);
  margin-top: 55px;

}

.min-h {
    min-height: calc(100vh - 55px) !important;
}

.main-body, .main-content {
  justify-content: flex-start !important;
  position: relative;
}

hr {
  border: none;
  opacity: 1; 
}

.underline {
  height: var(--height, 1px);
  width: 0%;
  margin: 0;
  border: 1px solid transparent;
  transition: width 0.2s, border-color 0.2s;
  border-radius: var(--radius, 1px);
}

.icon {
  width: var(--icon-size, 16px);
  height: var(--icon-size, 16px);
  user-select: none;
}

.c-brand {
  color: var(--text-brand-color);
}

.material-icons {
  font-size: 24px !important ;
  color: var(--text-brand-color) !important;
  transition: color 0.2s;
  user-select: none;
  align-self: center;
}

.material-icons.fs-2 {
  font-size: 2rem !important;
}

.material-icons.branco {
  color: var(--main-text) !important;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: var(--main-text);
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 5px;
  gap: 0.5rem;
  a {
    color: var(--main-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s, color 0.2s;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    a {
      color: var(--text-brand-color);
    }
  }
}

.sidebar-icon {
    width: 24px !important;
    display: block;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-text);
}

a {
  color: var(--brand-color);
  transition: all .3s ease;
  &:hover {
    cursor: pointer;
    color: var(--hover-color);
  }
}

.btn-base {
  background-color: var(--main-text);
  color: var(--brand-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  gap: 4px;
  padding: 0 8px;
}

.btn-roxo {
  background-color: var(--brand-color);
  color: var(--main-text);
  &:hover {
    background-color: var(--hover-color);
    color: var(--main-text);
  }
}

.btn-roxo-sec {
  background-color: transparent;
  color: var(--hover-color);
  border: 2px var(--hover-color) solid;
  &:hover {
    background-color: var(--hover-color);
    color: var(--main-text);
    & .material-icons {
    color: var(--main-text) !important;
    }
  }
  & .material-icons {
    color: var(--hover-color) !important;
  }
}

.btn-red {
  background-color: var(--red-base);
  color: white;
  &:hover {
    background-color: var(--red-hover);
  }
}

.input-base {
  background-color: transparent;
  border: 2px var(--brand-color) solid;    
  color: var(--hover-color);
  border-radius: 5px;
  width: 100%;
  padding: 0 8px;
}

// INPUT PASSWORD EYE-STOCK

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}