* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

:root {
  --main-bg: #121212;
  --main-text: #fff;
  --text-brand-color: #BB86FC;
}

body {
  background: var(--main-bg);
  color: var(--main-text);
}


hr {
  border: none;
  opacity: 1; 
}

.underline {
  height: var(--height, 1px);
  width: 0%;
  margin: 0;
  border: 1px solid transparent;
  transition: width 0.2s, border-color 0.2s;
  border-radius: var(--radius, 1px);
}

.icon {
  width: var(--icon-size, 16px);
  height: var(--icon-size, 16px);
}

.c-brand {
  color: var(--text-brand-color);
}