<div class="categories-banner">
    <img [src]="bannerPath" alt="" #bannerImg (load)="onImageLoad()">
</div>

<h3> {{searchBind ? `Resultados para "${searchBind}"` : 'Produtos'  }} </h3>

<div class="categories-container">
    <div class="product-filter">
        <div class="categories-box">
            <h3>Categoria</h3>
            @for (c of filters; track c.title) {
                <div class="checkbox-wrapper-46">
                    <input type="checkbox" id="cbx-46-{{c.value}}" class="inp-cbx" [value]="c.value" [checked]="isChecked(c.value)" (change)="onCheckboxChange(c.value, $event)"/>
                    <label for="cbx-46-{{c.value}}" class="cbx"
                        ><span>
                        <svg viewBox="0 0 12 10" height="10px" width="12px">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline></svg></span
                        ><span> {{c.title}} </span>
                    </label>
                </div>
            }
        </div>
    </div>
    <div class="product-result">
        @if (loading) {
            <app-load class="grid-load" [message]="{message: 'Carregando produtos...'}"></app-load>
        } 

        @if (error && !loading) {
            <div class="error-state">
                <p>Não foi possível carregar os produtos</p>
                <button mat-button>Tentar novamente</button>
            </div>
        }

         @if (!loading && !error) {

            @for (product of productList; track product.id) {
                    <app-product-card [product]="{
                      id: product.id,
                      title: product.title,
                      price: product.price,
                      image: product.image,
                    }"></app-product-card>
            }
        }

    </div>
</div>
