.categories-banner img {
  width: 100%;
  opacity: 0;
  transition: opacity .5s ease;
}

.categories-banner img.fading {
  opacity: 1;
}

.categories-container {
  gap: 24px;
  width: 100%;
  padding: 24px;
  min-height: calc(100vh - 55px);    
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-result {
  grid-column: span 3 / span 3;
  background-color: var(--dark-gray);
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  padding: 24px;
  justify-content: space-between;
  justify-items: center;
  align-content: start;
  row-gap: 24px;
}

.grid-center-row {
  grid-column: 1 / -1;
  justify-self: center;
}

.grid-center {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-filter {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.price-filter > .btn-base {
  aspect-ratio: 1 / 1 !important;
  width: 10%;
  margin-left: 8px;
}

.categories-box {
  width: 100%;
  background-color: transparent;
  padding: 8px;
  border: var(--brand-color) 2px solid;
  border-radius: 5px;
}

.price-filter {
  display: flex;
  flex-direction: row;
  span {
    margin: 0 4px;
  }
}

.categories-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  padding: 0 24px;
  h3 {
    margin: 0;
    font-weight: 400;
    color: var(--light-gray);
  }
  .highlight {
    font-weight: 500;
    color: var(--text-brand-color);
  }
}

@media (max-width: 768px) {
    .categories-container {
      display: flex;
      flex-direction: column;
    }

    .product-result {
      display: flex;
      width: 100%;
    }

    .product-filter {
      width: 100%;
    }
}

/* From Uiverse.io by vishnupprajapat */ 
.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid var(--hover-color);
  transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--brand-color);
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: var(--brand-color);
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: var(--brand-color);
  border-color: var(--brand-color);
  animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}

